.Appbar {
    background: transparent !important;
    height: 80px;
    /* justify-content: space-between;
    align-items: center; */
    top: 0px;
    transition: all 0.3s ease-in-out !important;
    padding: 5px 0px !important;
    color: var(--primary-color);

}

.Appbaractive {
    background-color: rgba(236, 230, 230, 0.87)!important;
    transition: all .3s ease-in-out !important;
    /* padding: 5px 0px !important; */
    height: 60px;
    

}
.hoverbutton{
    border-radius: 50%;
    background-color: transparent;
    width: 50px;
    height: 50px;



}
.hoverbutton:hover{
    border-radius: 50%;
    /* background-color: var(--secondray-maincolor); */
}
.hoverbuttonactive{
    border-radius: 50%;
    background-color: transparent;
    width: 50px;
    height: 50px;

}

.navlink{
    color: var(--primary-color);
}

.drawer{
    border-right: 1px solid white;
    box-shadow: 5px 10px 18px #c42c2c;
    color: "#0F6973";
    

}
.navlink:hover{
    color:var(--secondray-maincolor);
}
.smallicon:hover{
    color:var(--secondray-maincolor)
}
/* #####################nav1################## */





/* //hamburger icon */
.hamburber {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(255, 101, 47, .2);
    transition: all 0.5s ease-in-out;
    top: 23px;
    left: 10px;

}

.hamburber::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background:white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: translateY(-10px);
}

.hamburber::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: translateY(10px);
}

.activeHamburger {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    transform: translateX(-50px);
    background: transparent;
    transition: all 0.5s ease-in-out;
    top: 23px;
    left: 10px;
    
}


.activeHamburger::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: rotate(45deg) translate(35px, -35px);
}

.activeHamburger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background:white;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: rotate(-45deg) translate(35px, 35px);


}
.menuBox {
    position: fixed;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    z-index: 1;
    



}

.menuBoxactive {
    position: fixed;
    width: 100vh;
    padding-left: 10px;
    transform: translateX(-2.8%);
    transition: all 0.5s ease-in-out;
    z-index: 1;
    color: white!important;
    


}
.bigmenuBox {
    position: fixed;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    z-index: 1;




}

.bigmenuBoxactive {
    position: fixed;
    width: 100vw;
    height:100vh ;
    padding-left: 40px;
    transform: translateX(-2.8%);
    transition: all 0.5s ease-in-out;
    z-index: 1;
    color: white !important;
    



}
.mobilenavlink{
    font-size: 30px;
    font-weight: bolder;
}
.emailstyle{
    color: var(--secondray-maincolor);
}
